<!DOCTYPE html>
<html ng-app="Store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>	
  </head>

  <body ng-controller="storeController as store">
    <!--  Store Header  -->
	<center><h1>
		Welcome to our shop!<br>
		<small>
			Where we sell the same overpriced crap as others, but at least we're honest!
		</small>
	</h1></center>
	<div ng-controller="itemSelector as item">
		<table  class="table" >
			<tr ng-class="{info: item.isSet($index)}" ng-repeat="product in store.products" ng-click="item.setItem($index)">
				<td class="col-md-4">{{ product.name }}</td>
				<td class="col-md-4">{{ product.price | currency }}</td>
				<td ng-show="product.img" class="col-md-4 thumbnail">
					<img ng-src="{{ product.img }}"/>
				</td>
				<td ng-hide="product.img">
					<i>Image does not exist</i>
				</td>
				
			</tr>

		</table>
		
		<form name="reviewForm" ng-controller="reviewController as revCtrl" ng-submit="revCtrl.addReview( store.products[item.itemIndex()] )" >
			<b>Reviews:</b>			
			<div ng-repeat="review in store.products[item.itemIndex()].reviews" >
					{{ review }}
					<br>------------
			</div>		
			<fieldset>			
				<textarea ng-model="revCtrl.newReview" placeholder="Write a short review of the product..." title="Review"></textarea>
			</fieldset>					
			<fieldset>				
				<input type="submit" value="Submit Review" />
			</fieldset>			
		</form>
	</div>
	

  </body>
</html>
