   <!--  Store Header  -->

	<div ng-controller="itemSelector as item">
		<table  class="table" >
			<!--  
			info: item.isSet($index) is used to highlight the selected table row (applies the info class, from bootstrap)
			-->
			<tr ng-class="{info: item.isSet($index)}" ng-repeat="product in store.products" ng-click="item.setItem($index)">
				
				<td class="col-md-4">
					<a ng-href="#/{{ $index }}">
						{{ product.name }}					
					</a>
				</td>
				<td class="col-md-4">{{ product.price | currency }}</td>
				<td ng-show="product.img" class="col-md-4 thumbnail">
					<img ng-src="{{ product.img }}"/>
				</td>
				<td ng-hide="product.img">
					<i>Image does not exist</i>
				</td>
				
			</tr>

		</table>
		
		<!-- Binding to form and control state https://docs.angularjs.org/guide/forms -->
		<form name="reviewForm" ng-controller="reviewController as revCtrl" ng-submit="revCtrl.addReview( store.products[item.itemIndex()] )" novalidate >
			<h3>Reviews:</h3>			
			<div ng-repeat="review in store.products[item.itemIndex()].reviews" >
					<p>
					<b>{{ review.name }}</b>
					{{ review.content }}
					</p>
			</div>		
			<input type="text" ng-model="revCtrl.newReview.name" placeholder="Name" id="name" name="name" required=""></input>
			<br/>
			
			<textarea ng-model="revCtrl.newReview.content" placeholder="Your review..." id="content" name="content" required=""></textarea>
			<div ng-show="reviewForm.$submitted || reviewForm.name.$touched">
				<span ng-show="reviewForm.name.$error.required">Your name please X(</span>
			</div>	
			<div ng-show="reviewForm.$submitted || reviewForm.content.$touched">
				<span ng-show="reviewForm.content.$error.required">Your review please X(</span>
			</div>				

			<fieldset>				
				<input type="submit" value="Submit Review" />
			</fieldset>			
		</form>
	</div>
	
